.center {
    padding-left: calc(50% - 300px);
    padding-right: calc(50% - 300px);
    
}

.main-heading {
    text-align: center;
}

.calculator {
    position: relative;
    padding: 20px;
    margin: auto;
    width: 270px;
    border-radius: 5px;
    background-color: rgb(79, 76, 76);
    font-size: 20px;
    display: grid;
    justify-content: center;
    gap: 5px;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: 100px repeat(5, 50px);
    box-shadow: 1px 1px 6px black, inset 0 0 8px 2px black;

    &__valueA {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    &__button {
        text-shadow: 1px 1px 2px black;
        font-size: 28px;
        color: #ffffff;
        border-radius: 5px;
        background-color: #463e3e;
        box-shadow: 1px 1px 3px black, inset 0px 0px 15px rgba(0, 0, 0, 0.4);
        &:hover {  
      box-shadow: inset 0px 0px 8px rgb(248, 248, 248);
        }
    }

    &__input {
        box-sizing: border-box;
        padding: 15px;
        text-align: right;
        grid-column: 1 / -1;
        font-size: 28px;
        height: 80px;
        box-shadow: 1px 1px 2px black;
        border-radius: 4px;
        background-color: #e7e7e7;

    }

    &__backspace {
        grid-column: 4 / 6;
    }

    &__plus {
        grid-row: 5 / 7;
        grid-column: 4 / 5;
    }

    &__eval {
        grid-row: 5 / 7;
        grid-column: 5 / 6;
    }

    &__0 {
        grid-column: 1 / 3;

    }
}